@charset "UTF-8";
/* CSS Document */


@media (max-width: 767px) {
    HTML {
        font-size: 6.4px;
    }
}

@media (min-width: 768px) {
    HTML {
        font-size: 6.4px;
    }
}

@media (min-width: 992px) {
    HTML {
        font-size: 8.3px;
    }
}

@media (min-width: 1200px) {
    HTML {
        font-size: 10px;
    }
}

BODY {
    background-color: #E6E6E6;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
}
@media (max-width: 360px) {
    BODY {
    font-size: 1.2rem;
    }
    P, LI {
    font-size: 1.5rem;
    line-height: 1.7rem;
    }
    H1,
    .h1 {
        font-size: 5rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
        line-height: 0.7em;
        font-weight: 700;
    }

    H2,
    .h2 {
        font-size: 2.5rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
        font-weight: 300;

    }

    H3,
    .h3 {
        font-size: 2rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
        line-height: 0.7em;
        font-weight: 700;
    }


    H4,
    .h4 {
        font-size: 1.5rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    H5,
    .h5 {
        font-size: 1.3rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    H6,
    .h6 {
        font-size: 1.1rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .super {
        font-size: 5rem;
        font-weight: bold;
    }
}


A:link,
A:visited {
    /*    color:#6b9fff;*/
    text-decoration: none;
}
A {
    transition: all 500ms;
}


H1,
H2,
H3,
H4,
H5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    text-transform: uppercase;
}
UL {
    padding-left: 3em;
}
P, LI {
    font-size: 1.7rem;
}
H1,
.h1 {
    font-size: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 0.9em;
    font-weight: 700;
}

H2,
.h2 {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 300;
    
}

H3,
.h3 {
    font-size: 2.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1;
    font-weight: 700;
}


H4,
.h4 {
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

H5,
.h5 {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

H6,
.h6 {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.super {
    font-size: 6rem;
    font-weight: bold;
}


/*--------------------------------*/
/* == navbar                      */
/*--------------------------------*/
.navbar-brand {
    position: relative;
    width: 15%;
}

/*--------------------------------*/
/* == form input                      */
/*--------------------------------*/

.form-control {
    font-size: 1.7rem;
}
.btn {
    font-size: 1.7rem;
}