@charset "UTF-8";
/* CSS Document */


HTML {
    font-size: 16px;
}
BODY {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (max-width: 768px) {
    H1, .h1 {
        line-height: 0.8 !important;
        margin-bottom: 2rem;
    }
}

A:link,
A:visited {
    /*    color:#6b9fff;*/
    text-decoration: none;
}
A {
    transition: all 500ms;
}
.super {
    font-size: 1.5rem;
    font-weight: 300;
}
/*--------------------------------*/
/* == navbar                      */
/*--------------------------------*/
.navbar-brand {
    position: relative;
    width: 15%;
}
/*--------------------------------*/
/* == card                      */
/*--------------------------------*/

.chr-card-deck-1 .card {
    margin-left: 60px;
    margin-right: 60px;
}

/*--------------------------------*/
/* == bg                      */
/*--------------------------------*/

.condo-bg-dark-transp {
    background-color: rgba(52, 58, 64, 0.4);
}

/*--------------------------------*/
/* == material-icons                      */
/*--------------------------------*/
span.material-icons,
span.material-icons-outlined {
    vertical-align: middle;
    margin-right: 5px;
}